name: Create release

on:
  workflow_dispatch: {}
  push:
    branches:
      - 'main'
    tags:
      - v[0-9]+.*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Zip Folder
        run: zip -r AlstadtMapamod\ ${{env.RELEASE_VERSION}}.zip ./*

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: AlstadtMapamod ${{ env.RELEASE_VERSION }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
